@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
  --white: hsl(0, 0%, 98%);
  --gray: hsl(0, 0%, 41%);
  --black: hsl(0, 0%, 8%);
}

body {
  font-family: 'Epilogue', sans-serif;
  font-size: 18px;
  color: var(--gray);
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

h1 {
  color: var(--black);
  font-size: 74px;
  font-weight: 700;
  margin: 70px 0 0 0;
}

nav{
  width: 100%;
  display: flex;
  align-items: center;
}

.container {
  margin: 10px 20px;
}

.navbar {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: 40px;
  padding: 25px 10px 10px;
}

.navbar div {
  display: inherit;
}

.logo {
  margin-right: 46px;
}

.hamburger {
  display: none;
}

.navbar-item{
  flex-direction: column;
  position: relative;
}

.navbar-link {
  font-size: 15px;
  height: 16px;
  margin-right: 30px;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.navbar-link:hover{
  color: var(--black);
}

#arrow-icon {
  margin-left: 6px;
}

#arrow-icon.open{
  content: url('images/icon-arrow-up.svg');
}

.dropdown {
  position: absolute;
  top: 10px;
  background-color: white;
  box-shadow: 0px 0px 8px 0px var(--gray);
  list-style: none;
  padding: 20px;
  border-radius: 10px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out;
}

.dropdown.open{
  opacity: 1;
  visibility: visible;
}

.dropdown li:hover{
  color: var(--black);
}

#features-link .dropdown {
  width: 110px;
  left:-60px;
}

#company-link .dropdown {
  width: 70px;
  left:-20px;
}

.dropdown li {
  display: flex;
  align-items: center;
}

.dropdown li img {
  margin-right: 10px;
}

.register {
  padding: 10px 20px;
  margin-top: -10px;
  border: 2px solid var(--gray);
  border-radius: 12px;
}

.register:hover{
  border: 2px solid var(--black);
  color: var(--black);
}

.hero-section {
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: fit-content;
  margin: 30px auto;
}

.hero-content {
  width: 41%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-content p {
  line-height: 30px;
}

.button {
  border: 2px solid var(--black);
  padding: 10px 30px;
  border-radius: 15px;
  width: fit-content;
  background-color: var(--black);
  color: var(--white);
  transition: all 0.5s ease-out;
}

.button:hover {
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
}

.clients {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.hero-image {
  width: 45%;
  height: 600px;
}

.hero-image img {
  width: 100%;
  height: 100%;
  min-height: 400px;
}

@media screen and (max-width: 1366px) {
  body {
    font-size: 16px;
  }

  h1 {
    font-size: 65px;
    margin: 60px 0 0 0;
  }

  .hero-section{
    width: 80%;
  }

  .clients {
    margin-top: 80px;
  }

  .hero-image{
    width: 40%;
    height: 500px;
  }

}

@media screen and (max-width: 800px) {

  #overlay {
    position: fixed; 
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.65);
    z-index: 2;
    cursor: pointer;
    transition: 0.5s;
  }

  #overlay.open{
    display: block;
  }

  .hamburger {
    display: block;
    z-index: 4;
    cursor: pointer;
  }

  .hamburger img {
    transition: 0.2s;
  }

  .hamburger.open img {
    content: url('images/icon-close-menu.svg');
    width: 26px;
    height: 26px;
  }

  nav {
    justify-content: space-between;
    margin: 20px 0;
    align-items: flex-start;
  }

  .navbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    padding: 60px 0;
    height: 100%;
    justify-content: flex-start;
    background-color: var(--white);
    z-index: 3;
    overflow-x: hidden;
    transition: 0.5s;
  }

  .navbar.open{
    width: 55%;
    padding: 60px 10px 10px;
  }

  .navbar, .navbar div{
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-link {
    flex-direction: row !important;
    align-items: center !important;
    margin: 10px;
    font-size: 16px;
  }

  .dropdown {
    display: none;
    position: static;
    border: 0;
    box-shadow: none;
    margin: 0;
    padding: 15px 20px;
  }

  .dropdown.open{
    opacity: 1;
    display: flex;

  }

  .navbar-right{
    width: 100%;
    align-items: center !important;
  }

  .register {
    width: 70%;
    display: flex;
    justify-content: center;
  }

  .hero-section{
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .hero-content{
    order: 2;
  }

  .hero-content p {
    text-align: center;
  }

  .hero-image{
    order: 1;
    height: auto;
    width: calc(100% + 40px) !important;
    margin: 0 -20px;
  }

  .hero-image img {
    content: url('images/image-hero-mobile.png');
    height: auto;
    min-height: auto;

  }

  .hero-content, .hero-image{
    width: 100%;
  }

  .button{
    margin: 10px auto;
    padding: 7px 20px;
  }

  h1 {
    text-align: center;
    font-size: 35px;
  }

  .clients{
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 900px;
    height: 18px;
  }

  .clients img {
    width: 19%;
    height: 100%;
  }
}